apps/device-simulator-nodered/flow.json
[
  {
    "id": "f1a2b3c4d5e6f7a8",
    "type": "tab",
    "label": "AMQ Multicluster Device Simulator",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1111111111111111",
    "type": "inject",
    "z": "f1a2b3c4d5e6f7a8",
    "name": "tick",
    "props": [],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": 1,
    "topic": "",
    "x": 140,
    "y": 100,
    "wires": [
      [
        "2222222222222222"
      ]
    ]
  },
  {
    "id": "2222222222222222",
    "type": "function",
    "z": "f1a2b3c4d5e6f7a8",
    "name": "generate event",
    "func": "const site = env.get(\"MQTT_SITE\") || \"amq1\";\nconst root = env.get(\"MQTT_TOPIC_ROOT\") || \"sensors\";\nconst deviceCount = parseInt(env.get(\"DEVICE_COUNT\") || \"25\", 10);\nconst pod = env.get(\"HOSTNAME\") || \"nodered\";\n\nconst factories = (env.get(\"FACTORIES\") || \"plant-a,plant-b\").split(\",\").map(s=>s.trim()).filter(Boolean);\nconst lines = (env.get(\"LINES\") || \"line-1,line-2,line-3\").split(\",\").map(s=>s.trim()).filter(Boolean);\nconst sensorTypes = (env.get(\"SENSOR_TYPES\") || \"temp,humidity,vibration,pressure\").split(\",\").map(s=>s.trim()).filter(Boolean);\n\nlet seq = context.get(\"seq\") || {};\nconst idx = Math.floor(Math.random() * deviceCount) + 1;\nconst deviceId = `device-${idx}`;\nseq[deviceId] = (seq[deviceId] || 0) + 1;\ncontext.set(\"seq\", seq);\n\nconst factory = factories[idx % factories.length];\nconst line = lines[idx % lines.length];\nconst sensorType = sensorTypes[idx % sensorTypes.length];\n\nfunction rnd(min,max){ return Math.round((min + Math.random()*(max-min))*100)/100; }\nlet value = 0, unit = \"\";\nif(sensorType === \"temp\"){ value = rnd(18, 35); unit = \"C\"; }\nelse if(sensorType === \"humidity\"){ value = rnd(25, 85); unit = \"%\"; }\nelse if(sensorType === \"vibration\"){ value = rnd(0.01, 2.5); unit = \"g\"; }\nelse if(sensorType === \"pressure\"){ value = rnd(0.8, 1.4); unit = \"bar\"; }\nelse { value = rnd(0, 100); unit = \"u\"; }\n\nconst eventId = `${Date.now().toString(36)}-${pod}-${Math.random().toString(36).slice(2)}`;\nconst topic = `${root}/${site}/factory/${factory}/line/${line}/device/${deviceId}/${sensorType}/telemetry`;\n\nmsg.topic = topic;\nmsg.payload = {\n  schemaVersion: 1,\n  site,\n  producer: pod,\n  eventId,\n  deviceId,\n  seq: seq[deviceId],\n  ts: new Date().toISOString(),\n  topic,\n  sensor: {\n    type: sensorType,\n    reading: { value, unit },\n    batteryPct: Math.floor(60 + Math.random()*40),\n    status: value > 0 ? \"OK\" : \"UNKNOWN\"\n  },\n  location: { factory, line }\n};\n\nnode.warn(\"publish \" + topic + \" eventId=\" + eventId + \" value=\" + value + unit);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 100,
    "wires": [
      [
        "3333333333333333"
      ]
    ]
  },
  {
    "id": "3333333333333333",
    "type": "json",
    "z": "f1a2b3c4d5e6f7a8",
    "name": "to JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 530,
    "y": 100,
    "wires": [
      [
        "4444444444444444"
      ]
    ]
  },
  {
    "id": "4444444444444444",
    "type": "mqtt out",
    "z": "f1a2b3c4d5e6f7a8",
    "name": "publish",
    "topic": "",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "5555555555555555",
    "x": 690,
    "y": 100,
    "wires": []
  },
  {
    "id": "5555555555555555",
    "type": "mqtt-broker",
    "name": "amq mqtts (insecure demo)",
    "broker": "${MQTT_HOST}",
    "port": "${MQTT_PORT}",
    "clientid": "",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": "",
    "tls": "6666666666666666"
  },
  {
    "id": "6666666666666666",
    "type": "tls-config",
    "name": "insecure-demo",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "",
    "verifyservercert": false,
    "alpnprotocol": ""
  }
]

