apps/device-simulator-nodered/flow.json
[
  {
    "id": "f1a2b3c4d5e6f7a8",
    "type": "tab",
    "label": "AMQ Multicluster Device Simulator",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1111111111111111",
    "type": "inject",
    "z": "f1a2b3c4d5e6f7a8",
    "name": "tick",
    "props": [],
    "repeat": "${MQTT_INTERVAL_MS}",
    "crontab": "",
    "once": true,
    "onceDelay": 1,
    "topic": "",
    "x": 140,
    "y": 100,
    "wires": [
      [
        "2222222222222222"
      ]
    ]
  },
  {
    "id": "2222222222222222",
    "type": "function",
    "z": "f1a2b3c4d5e6f7a8",
    "name": "generate event",
    "func": "const site = env.get(\"MQTT_SITE\") || \"amq1\";\nconst topic = env.get(\"MQTT_TOPIC\") || \"iot.events.v3\";\nconst deviceCount = parseInt(env.get(\"DEVICE_COUNT\") || \"25\", 10);\nconst pod = env.get(\"HOSTNAME\") || \"nodered\";\n\nlet seq = context.get(\"seq\") || {};\nconst idx = Math.floor(Math.random() * deviceCount) + 1;\nconst deviceId = `device-${idx}`;\nseq[deviceId] = (seq[deviceId] || 0) + 1;\ncontext.set(\"seq\", seq);\n\nconst eventId = `${Date.now().toString(36)}-${pod}-${Math.random().toString(36).slice(2)}`;\n\nmsg.topic = topic;\nmsg.payload = {\n  site,\n  eventId,\n  deviceId,\n  seq: seq[deviceId],\n  ts: new Date().toISOString()\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 100,
    "wires": [
      [
        "3333333333333333"
      ]
    ]
  },
  {
    "id": "3333333333333333",
    "type": "json",
    "z": "f1a2b3c4d5e6f7a8",
    "name": "to JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 530,
    "y": 100,
    "wires": [
      [
        "4444444444444444"
      ]
    ]
  },
  {
    "id": "4444444444444444",
    "type": "mqtt out",
    "z": "f1a2b3c4d5e6f7a8",
    "name": "publish",
    "topic": "",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "5555555555555555",
    "x": 690,
    "y": 100,
    "wires": []
  },
  {
    "id": "5555555555555555",
    "type": "mqtt-broker",
    "name": "amq mqtts (insecure demo)",
    "broker": "${MQTT_HOST}",
    "port": "${MQTT_PORT}",
    "clientid": "",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": "",
    "tls": "6666666666666666"
  },
  {
    "id": "6666666666666666",
    "type": "tls-config",
    "name": "insecure-demo",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "",
    "verifyservercert": false,
    "alpnprotocol": ""
  }
]

